# --- Segurança e Variáveis de Ambiente ---
.env
*.env
.env.*

# --- Ambientes Virtuais e Pipenv ---
.venv/
venv/
env/
# Nota: O Pipfile e Pipfile.lock DEVEM ser versionados, não ignore-os.

# --- Caches e Arquivos Compilados do Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- SO e IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/